<div class="popup-container1">
    <div class="card-text-center">
        <button class="close-button" (click)="closePopup1()">X</button>
        <div class="card-header">
            <p>LOGIN</p>
        </div>
        <div class="card-body p-4">

            <label style="float: left">Email</label>
            <input class="form-control m-2" type="email" placeholder="Email" />

            <label style="float: left">Password</label>
            <input class="form-control m-2" type="password" placeholder="Password" />

            <button class="btn btn-primary btn-block m-2">LOG IN</button>

        </div>
    </div>
</div>