.nav-menu{
    display: flex;
    justify-content: space-between;
    border-top: 0.1rem solid black;
    border-bottom : 0.1rem solid gainsboro;
    padding: 1rem 0;
}

.nav-menu-option{
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
    padding: 1rem;
    transition: background-color 0.3s;
}

.nav-menu-option:hover {
    background-color: #d3d3d3;
    /* Cambia el color de fondo al pasar el mouse */
  }
  @media only screen and (max-width: 768px) {
    .nav-menu {
      flex-direction: column; /* Cambia la dirección del flex a columna para apilar los elementos */
      align-items: center;
      justify-content: center; /* Centra los elementos en el eje transversal */
      
    }
  

    .nav-menu span {
      display: flex;
      justify-content: center;
      border-bottom: 0.1rem solid rgba(173, 173, 173, 0.155);
      width: 100%; /* Ocupa el ancho completo del contenedor */
      margin-bottom: 0.313rem; /* Reduce el margen inferior */
    }
  }