<!-- <section class="container-main">
    <div class="lista-noticias">
      <div *ngFor="let noticia of listadoNoticiasDestacas; let first = first">
        <div class="noticia" [ngClass]="{ 'noticia-ppal': first }">
          <div *ngIf="noticia.urlToImage">
            <img [src]="noticia.urlToImage" alt="" (click)="redirectTo()" />
            <div>
              <h2>{{ noticia.title }}</h2>
              <p>{{ noticia.content }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
 -->

<!--  <section class="container-main">
  <div class="lista-noticias">
    <div *ngFor="let noticia of listadoNoticiasDestacas; let first = first">
      <div class="noticia" [ngClass]="{ 'noticia-ppal': first }">
        <div *ngIf="noticia.urlToImage">
          <img [src]="noticia.urlToImage" alt="" (click)="redirectTo()" />
          <div>
            <h2>{{ noticia.title }}</h2>
            <p>{{ noticia.content }}</p>
          </div>
        </div>
      </div>
      <div *ngIf="!first" class="noticia-tarjeta">
        <!-- Contenido de la noticia en tarjeta 
        <img [src]="noticia.urlToImage" alt="" />
        <div>
          <h2>{{ noticia.title }}</h2>
          <p>{{ noticia.content }}</p>
        </div>
      </div>
    </div>
  </div>
</section>  -->
<section class="container-main">
  <div class="lista-noticias">
    <div *ngFor="let noticia of listadoNoticiasDestacas; let first = first" (click)="openPopup(noticia)">
      <div class="noticia" [ngClass]="{ 'noticia-ppal': first, 'noticia-chica': !first }">
        <div *ngIf="noticia.urlToImage">
          <img [src]="noticia.urlToImage" alt="" />
          <div class="noticia-content">
            <h2 class="noticia-title">{{ noticia.title }}</h2>
            <p class="noticia-text">{{ noticia.content }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal para mostrar comentarios -->
<div *ngIf="selectedNoticia" class="modal">
  <div class="modal-content">
    <!-- titulo y foto -->
    <h2  target="_blank">
     {{ selectedNoticia.title }}
    </h2>
    <div class="imagen-y-contenido">
      
        <img [src]="selectedNoticia.urlToImage" alt="" class="noticia-img" />
        
      <div class="contenido-y-botones">
        <p class="resumen-noticia">{{ selectedNoticia.content }}</p>
        <h3>Calificacion : 3.4/5</h3>
        <p>{{ selectedNoticia.url}}asdasdasd</p>
        <div class="botones">
          <button class="btn-save">
            Save
          </button>
          <!-- Botones de Calificación con estrellas -->
          <button class="btn-save">
            Rate
          </button>
          <button class="btn-save" (click)="agregarComentario(selectedNoticia, 'Nuevo comentario')" >
            Comment</button>
        </div>
      </div>
    </div>

    <div class="comentarios">
      <div class="comentarios-guardados">
        <h3>Comments</h3>
        <table>
          <thead>
            <tr>
              <th>User</th>
              <th>Comment</th>
            </tr>
          </thead>
          <tbody>
            <!-- generar contenido dinamicamente -->
          </tbody>
        </table>
      </div>
      <div *ngFor="let comentario of selectedNoticia.comentario; let i = index">
        <div class="comentario">
         <!--  <div *ngIf="!comentario.editing">
            <p>{{ comentario.text }}</p>
          </div>
             <p class="usuario">Usuario: {{ comentario.usuario }}</p> -->
          <div class="botones-comentarios">
            <h3>New Comment</h3>
            <input type="text" [(ngModel)]="comentario.text" id="comment-box" placeholder="Escriba aqui su comentario..."/>
            <div class="botones-nuevo-comentario">
              <button (click)="comentario.editing = true">Edit</button>
              <button (click)="eliminarComentario(selectedNoticia, i)">Delete</button>
              <button (click)="guardarComentario(selectedNoticia, i)">Save</button>
            </div>
          </div>
         
          <!-- Botones para editar y eliminar el comentario si está autenticado y coincide el usuario -->
        </div>
      </div>
    </div>

    <button (click)="closePopup()">Close</button>
  </div>

</div>