.sidenav {

  transition: all 0.5s ease;
  position: fixed;
  z-index: 0;
  top: 0;
  width: 5rem;
  height: 100vh;
  border-right: 0.05rem solid black;
  transform: translateX(0); /* Establece la posición inicial */
}
  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.938rem 0.938rem 0 0.938rem;
    width: 100%;
    height: 2rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
  }
    .logo {
      background: none;
      width: 3rem;
      height: 3rem;
      min-width: 1rem;
      padding: 0.313rem;
      border: none;
      z-index: 1;
    }

  
    #logo-sidebar{
      width: 70%;
      height: 70%;
      display: flex;
      padding-left: 3rem;
    }

    .btn-close {
      margin-left: auto;
      cursor: pointer;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background-color: transparent;
      padding: 0 3rem 0 0;
      border: none;
      align-items: center;
      .fa-times {
        color: #171616;
        font-size: 24px;
      }
    }


.sidenav-collapsed {
  width: 28rem; /* Ancho expandido de la barra */
  /* Transformación para expandir la barra hacia la derecha */
  transform: translateX(0);
}

.sidenav-nav {
  list-style: none;
  padding: 0.938rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% - 3.65rem);
  cursor: pointer;
}

.sidenav-nav-item {
  width: 100%;
  margin-bottom: 0.625rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  
  /* Agregar una transición de color de fondo */
}

.sidenav-nav-item:hover {
  background-color: #d3d3d3;
  /* Cambia el color de fondo al pasar el mouse */
}

.sidenav-complexIcon {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 0.25rem;
}

.sidenav-nav-text {
  font-size: 2rem;
  color: #656565;
  padding: 1rem;
}

#hamb-icon{
  width: 100%;
  height: 100%;
}


@media only screen and (max-width: 768px) {
  .sidenav-collapsed {
    height: 0; /* Colapsada por defecto */
  }

  .sidenav {
    height: auto; /* Establece la altura automática por defecto */
    overflow: hidden;
    position: fixed;
    width: 100%;
    transition: height 0.3s;
  }

  /* Mostrar el icono de hamburguesa siempre */
  .logo {
    display: flex;
  }

  .logo-text {
    display: none; /* Ocultar el texto del logo por defecto */
  }

  /* Cambiar la orientación de la barra lateral emergente desde arriba */
  .sidenav.emerge {
    height: 100vh; /* Establece la altura al 100% de la altura de la pantalla */
    transform: translateY(0); /* Desplaza la barra lateral desde arriba hacia abajo */
  }

  .sidenav-nav {
    height: auto;
  }

  .sidenav-nav-item {
    width: 100%; /* Ocupa el ancho completo de la barra lateral */
    margin-bottom: 0.313rem;
  }

  .sidenav-nav-text {
    font-size: 1.5rem;
    padding: 0.5rem;
  }

  /* Estilo para emerger desde arriba */
  .sidenav.emerge {
    height: 100vh; /* Establece la altura al 100% de la altura de la pantalla */
  }
}