  <div class="container">
    <div class="search-container">
      <div class="search-bar">
        <input type="text" id="search-input" placeholder="Search...">
        <button class="search-button">
          <span class="material-symbols-outlined">search</span>
        </button>
      </div>
    </div>
    <div class="button-container">
      <div>
        <button class="log-in-button" (click)="showPopup = true">Log in</button>
      </div>
      <div><button class="register-button">Register</button></div>
  </div>
  <div *ngIf="showPopup" class="popup-container">
    <app-login-form></app-login-form>
  </div>