.container{
  display: flex;
  justify-content: space-between;
  position: fixed;
  left:23%;
  z-index: 1;  
  background-color:  white;
  padding: 1rem;
  width: 57% ;
}

.search-bar {
    display: flex;
    border-radius: 5rem;
    border: transparent;
  }
  
  .search-bar input {
    width: 90%;
    padding: 1rem;
    font-size: 18px;
    border: transparent;
    border-radius: 4.5rem;
    margin-left: 1rem;
    margin-right: 1rem; 
  }
  
  .search-button {
  /* Usamos el ancho automático para que el botón sea del tamaño del contenido */
    justify-content: flex-end;
    background: #cbd5de;
    border: none;
    border-radius: 5rem;
    cursor: pointer;
    padding: 0.5rem 1rem; /* Ajusta el espaciado interno según tus preferencias */
    cursor: pointer;
  }
  
  .search-button .material-symbols-outlined {
    color: #fff;
    font-size: 24px;
  }

  .log-in-button{
    display: flex;
    font-weight: bold;
    font-size: medium;
    justify-content: center;
    color: white;
    background-color: #312783;
    border: none;
    border-radius: 2rem;
    padding: 1.3rem 5rem;
    cursor: pointer;
  }

  .register-button{
    display: flex;
    font-weight: bold;
    font-size: medium;
    justify-content: center;
    color: white;
    background-color: #312783;
    border: none;
    border-radius: 2rem;
    padding: 1.3rem 5rem;
    cursor: pointer;
  }

  
.button-container{
  display:flex;
  justify-content: space-between;
}
