<div class="container">
  <div class="search-container">
    <div class="search-bar">
      <input type="text" id="search-input" placeholder="Search by country or language...">
      <button class="search-button">
        <span class="material-symbols-outlined">search</span>
      </button>
    </div>
  </div>
  <div class="button-container">
    <div>
      <button class="log-in-button" (click)="showPopup1 = true">Log in</button>
    </div>
    <div><button class="register-button" (click)="showPopup = true">Register</button></div>
  </div>
  <div *ngIf="showPopup1" class="popup-container1">
    <app-sign-up-form [showPopup1]="showPopup1" (closePopupEvent)="closePopup1()"></app-sign-up-form>
  </div>
  <div *ngIf="showPopup" class="popup-container">
    <app-login-form [showPopup]="showPopup" (closePopupEvent)="closePopup()"></app-login-form>
  </div>