.container{
  display: flex;
  justify-content: space-between;
  position: fixed;
  left:22.5%;
  background-color:  rgb(255, 255, 255);
  padding: 2rem 2rem 1rem 2rem;
  width: 58% ;
  margin-top: -1rem;
  z-index: 1;
}

.search-bar {
    display: flex;
    border-radius: 5rem;
    border: transparent;
    height: 5rem;
    width: 30rem;
    font-size: larger;
    font-weight: 400;
    padding: 2rem;
    position: relative;
    display: inline-block;
  }
  
  .search-bar input {
    width: 30rem;
    padding: 1rem;
    font-size: 18px;
    border: transparent;
    border-radius: 4.5rem;
    margin-left: 1rem;
    margin-right: 1rem; 
  }
  

  
  
 
  button{
    display: flex;
    font-weight: bold;
    font-size: medium;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #312783;
    border: none;
    border-radius: 2rem;
    padding: 1.3rem 5rem;
    cursor: pointer;
    max-height: 5rem;
    width: 15rem;
    
  }

  button:hover{
    
    background-color: rgb(221, 221, 221);
    color: #312783;
    
    cursor: pointer;
    transition: 0.5s ease;
  }

  
.button-container{
  display:flex;
  justify-content: space-between;
}

.boton-y-usuario{
  display: flex;
  
}

.span-usuario{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 4rem;
  font-size: medium;
  position: relative;
  max-height: 5rem;
}


.search-container ul {
  list-style-type: none;
  padding: 0;
  margin: 1rem 0;
  border: 0.1rem solid  #312783;
  border-radius:  1rem;
  max-width: 100%;
}

.search-container li {
  padding: 1rem;
  cursor: pointer;
  font-size: medium;
}

.dropdown button:focus + .search-container {
  display: block;
}

.search-container li:hover {
  background-color:  #312783;
  color: white;
  transition: 0.2s ease ;
  border-radius: 1rem;
}