<section class="container-main">
    <div class="logo-seccion">
            <img class="logo-chico" src="../../../assets/Logo/Recurso 3.png" alt="logo" (click)="navegateTo('LastNews')">     
    </div>
    <div class="seccion-nombre-container">
        <h2 class="seccion-nombre">{{titulo}}</h2>
    </div>
    <div class="lista-noticias" *ngFor="let noticia of nombreArray">
            <div class="noticia-ppal" *ngIf="noticia.urlToImage">
                <img [src]="noticia.urlToImage" alt="photo-main-news" class="foto-noticia-ppal">
                <div class="texto-noticia-ppal">
                    <h2>{{noticia.title}}</h2>
                    <p>{{noticia.content}}
                    </p>
                </div>
            </div>
    </div>
</section>
<app-footer></app-footer>