@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100;0,200;0,400;0,500;0,600;0,800;0,900;1,100;1,300;1,500;1,600;1,900&display=swap');

html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before , *:after{
box-sizing: inherit;
}

body {
    font-family: 'Aleo', serif;  
}