.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 5rem;
}
  
.logo-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
}

@media only screen and (max-width: 768px) {
    .container {
      margin-top: 2rem;
      /* Ajusta el margen superior para pantallas más pequeñas */
    }
  
    .logo-container {
      padding-bottom: 1rem;
      margin-top: 15rem;
     
      /* Ajusta el relleno inferior para pantallas más pequeñas */
    }

    #logo-principal{
      height: 4rem;
    }
  }